@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

    <div>
        <div class="text-center mb-5">
            <p class="display-2">EduGrid</p>
            <p class="display-5">Acompanhe o seu progresso acedêmico de perto de um jeito fácil e dinâmico.</p>
        </div>
        <div class="row mb-3 mb-5 d-flex align-items-center">
            <img class="img-fluid col-lg-5 mb-4" src="https://sinalizeweb.com.br/images/workflow-1.png" />
            <p class="display-5 text-center col-lg-7 text-lg-left">Organize suas disciplinas e veja seu progresso de forma interativa.</p>
        </div>
        <div class="row mb-3 mb-5 d-flex align-items-center">
            <img class="img-fluid col-lg-5 mb-4 order-lg-1" src="https://www.bing.com/th?id=OIP.4XgWuY9MBtSTQjMvEzEIbwHaD4&pid=Api&rs=1" />
            <p class="display-5 text-center col-lg-7 text-lg-right">Planeje em quais disciplinas se matricular no próximo semestre.</p>
        </div>
    </div>
